body{
  background-image: linear-gradient(to right,yellow, green, blue);
  div{
    button{
      padding: 10px 20px;
      border-radius: 5px;
      transform: translate(0);
      transform: translate3d(0,0,0);
    }
  }
}